@{
    ViewBag.Title = "Home Page";
}

@*
   <input id="msg">
    <input id="broadcast" type="button">
    <ul id="messages"></ul>
*@


     <header>
    <h1> Scrummy!</h1>
  </header>

  <div role="main" class="panelView scrumMap hidden">
    <div class="scrumMapView">Map View</div>
  </div>

  <div role="" class="panelView scrumView">
     <div class="panel" data-panel="Pending"><h1> Pending </h1></div>
     <div class="panel" data-panel="Active"><h1> Active </h1></div>
     <div class="panel"data-panel="Completed"><h1> Completed </h1></div>
     <div class="panel panelFooter" data-panel="Future"><h1> Futures </h1></div>
  </div>




  <footer>

  </footer>